.post-list-item {
    padding: 10px;
    cursor: pointer;
}
.post-list-item:hover {
    background-color: #eee;
}

.single-post, .post-list, .create-post-form, .back-btn {
    padding: 15px 0px 15px 0px;
}
